.films {
    background-color: #000;
    &-main {
      &__title {
        text-align: center;
        font-size: clamp(35px, 5vw, 65px);
        color: #fff;
        span {
          color: var(--secundaryColor);
        }
      }
      &__description {
        text-align: center;
        color: #fff;
        font-size: clamp(15px, 2.5vw, 25px);
        margin-bottom: 40px;
        span {
          color: var(--secundaryColor);
        }
      }
      &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        article {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 400px;
          background-color: #131212;
          border-radius: 8px;
          padding: 12px;
          color: #fff;
          img {
            width: 90%;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
            margin: 5px auto;
            display: flex;
          }
          p,
          h3 {
            margin: 0;
            text-align: center;
          }
          h3 {
            margin: 10px 0;
          }
          p {
            margin: 5px 0;
          }
          button {
            margin: 20px auto;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            background-color: var(--secundaryColor);
            color: #000;
            padding: 10px 30px;
            font-weight: bold;
            transition: 300ms;
            &:hover {
              opacity: 80%;
            }
          }
        }
      }
    }
  }
  