$primary-color: #000000;
$nav-bg-color: #eee;
$nav-text-color: #555;

.main-home {
    display: grid;
    width: 100%;
    background-color: var(--primaryColor);
    img {
      display: flex;
      align-self: self;
      margin: 0 auto;
      width: 268px;
    }
    h1 {
      text-align: center;
      color: var(--secundaryColor);
      font-weight: 900;
    }
    p {
      text-align: center;
      color: #ffff;
    }
    @media (max-width: 960px) {
      flex-direction: column-reverse;
    }

    &__img {
      background-image: url(assets/images/footer.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      flex: 0 1 20%;
      @media (max-width: 960px) {
        background-color: #000;
        height: 1000px;
        width: 100%;
      }
    }
    .nav-home{
        margin-top: 10px;
        margin-bottom: 60px;
        text-align: center;
        background-color: $nav-bg-color;
        padding: 10px 20px;
    
        .nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
    
            li {
                display: inline-block;
                margin-right: 80px;
    
                a {
                    text-decoration: none;
                    color: $nav-text-color;
    
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
}
  }

  