.main-signup {
    display: flex;
    width: 100%;
    background-color: #000;
    img {
      display: flex;
      align-self: self;
      margin: 0 auto;
      width: 268px;
      height: 190px;
    }
    h1 {
      text-align: center;
      color: var(--secundaryColor);
      font-weight: 900;
    }
    p {
      text-align: center;
      color: #ffff;
    }
    @media (max-width: 960px) {
      flex-direction: column-reverse;
    }
    &__form {
      height: 100vh;
      flex: 0 1 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &--form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 50px auto;
        gap: 30px;
      }
    }
    &__img {
      background-image: url(https://res.cloudinary.com/dy6gbr4oc/image/upload/v1711493191/Starwarsapp/darth_xn2nfj.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      flex: 0 1 55%;
      opacity: 60%;
      @media (max-width: 960px) {
        background-color: var(--primaryColor);
        height: 1000px;
        width: 100%;
      }
    }
  }
  