.main-card {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131212;
  border-radius: 18px;
  padding: 30px;
  cursor: pointer;
  &__cover {
    &__image {
      width: 90%;
      img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center top;
        margin-bottom: 30px;
      }
    }
    &__text {
      text-align: center;
      h2 {
        color: var(--thirdColor);
      }
      ul {
        color: var(--thirdColor);
        li {
          list-style: none;
        }
      }
    }
    button{
      cursor: pointer;
      border-radius: 5px;
      border: none;
      background-color: var(--secundaryColor);
      color: #000;
      padding: 10px 30px;
      font-weight: bold;
      transition: 300ms;
      &:hover{
        opacity: 80%;
      }
    }
  }
}
